
#register_block
    .site_width
        background: #fff
        height: 1300px
        margin-top: 24px
        margin-bottom: 24px
        overflow: hidden

    .title
        color: $gray_font
        font-size: 25px
        margin: 24px

    .btn
        margin-left: 400px
        margin-top: 64px
        border: none

    .part_checkbox
        position: relative

        label
            position: absolute
            right: 0px

    form
        label
            min-height: 30px
            display: inline-block
            width: 800px
            position: relative
            margin: 12px 0

        span
            color: $gray_font
            width: auto
            text-align: right
            line-height: 30px
            height: 30px
            display: inline-block
            position: absolute
            right: 424px

        .block
            display: inline-block
            position: absolute
            right: -24px
        
        .part_radiobutton
            display: inline-block
            width: 180px

            label
                width: auto