
mixin part_sort(...items)
	.part_sorting_block
		.part_sorting
			.part_sort_by= "Сортировать по:"
			each item, i in items 
				if (i == 0)
					.part_item(class="active")= item
				else 
					.part_item= item
		.sort_block
			p Вид:
			i.material-icons._toggle_view_list view_list
			i.material-icons._toggle_view_cards view_comfy