footer
  .wrapper
    .inner
      .title Клиентам
      a(href='#') Вопросы и ответы
      a(href='#') Как это работает
      a(href='#') Способы оплаты
      a(href='#') Помощь

    .inner
      .title Бизнесу
      a(href='#') Предолжения
      a(href='#') Стать партнером
      a(href='#') Специальные условия

    .inner
      .title Оплата
      a(href='#') VISA / MasterCard
      a(href='#') Qiwi
      a(href='#') Яндекс Деньги
      a(href='#') PayPal

    .inner.contacts
      .phone +7 707 2707027
      .email chocokiller@gmail.com
      .soc
        a(href='#' style='background-image: url("img/soc/vk.png")')
        a(href='#' style='background-image: url("img/soc/wa.png")')
        a(href='#' style='background-image: url("img/soc/insta.png")')
        a(href='#' style='background-image: url("img/soc/yt.png")')
        a(href='#' style='background-image: url("img/soc/tg.png")')

  .bottom
    .inner © Chocokiller 2018

script(src='js/common.min.js')

</body>
</html>