include ../parts/btn/btn.pug

include ../parts/rating/rating.pug

include ../parts/breadcrumbs/breadcrumbs.pug
include ../parts/rating_statistic/rating_statistic.pug
include ../parts/product_card/product_card.pug
include ../parts/checkbox/checkbox.pug

include ../parts/review_card/review_card.pug

include ../parts/text_input/text_input.pug


include ../parts/radiobutton/radiobutton.pug
include ../parts/title_page/title_page.pug
