extends dash/_layout.pug

block title
    title Chocokiller Store

block content

    .content_title Изменить личные данные

    .wrap

        form(action='' method='post')

            .input
                .label
                    p Логин
                .item
                    input(type='text' name='username' required)

            .input
                .label
                    p Имя
                .item
                    input(type='text' name='title' required)

            .input
                .label
                    p Фамилия
                .item
                    input(type='text' name='title' required)

            .input
                .label
                    p Пол
                .item
                    select(name='gender')
                        option(value='male') Мужской
                        option(value='female') Женский
                    .tri ▼

            .input
                .label
                    p E-mail
                .item
                    input(type='text' name='email')

            .input
                .label
                    p Телефон
                .item
                    input(type='text' name='phone')

            .input
                .label
                    p Изображение профиля
                .item
                    input(type='file' name='avatar')

        input.btn(type='button' value='Изменить данные')


    .content_title Изменить пароль

    .wrap

        form(action='' method='post')

            .input
                .label
                    p Старый пароль
                .item
                    input(type='password' name='old_password')

            .input
                .label
                    p Новый пароль
                .item
                    input(type='password' name='new_password')

            .input
                .label
                    p Повторите новый пароль
                .item
                    input(type='password' name='repeat')

        input.btn(type='button' value='Изменить пароль')

    script.
        u('.onlyNumbers').on('keydown', (e) => {
            if (!('0123456789'.indexOf(e.key) >= 0
                || e.code === 'Backspace'
                || e.code === 'Enter'
                || e.code === 'ArrowLeft'
                || e.code === 'ArrowRight'))
                e.preventDefault();
        });