include _parts.pug
include _header.pug

+part_title_page("Профиль")

.profile_block
  .site_width
    .block
      .avatar(style='background: url("img/user_150x150.jpg")')
      .info
        .username Тирион Ланистер
        .stat
          .item
            .num 94
            .text Заказов
          .item
            .num 12 623
            .text Кешбэк
          .item
            .num 89 048
            .text Вы сэкономили
          .item
            .num 1 000 000
            .text Баланс
          .item
            .num 1 520
            .text Бонус

    .content_block
      .side_block
        .menu
          .item
            i.material-icons dehaze
            .text Главная
          .item
            i.material-icons turned_in
            .text Мои заказы
          .item
            i.material-icons local_play
            .text Мои купоны
          .item
            i.material-icons favorite
            .text Избранное
          .item
            i.material-icons people
            .text Подписки
            .num 7
          .item
            i.material-icons notifications
            .text Уведомления
            .num 4
          .item
            i.material-icons mail
            .text Сообщения
            .num 12
          .item.active
            i.material-icons settings
            .text Настройки
        +part_profile_statistic_shop([ 
        { title: 'Белый ветер', voted: 901 }, 
        { title: 'Крендель', voted: 420 },
        { title: 'Технодом', voted: 345 }, 
        { title: 'Мечта', voted: 469 }, 
        { title: 'Айнур', voted: 522 }, 
        ])

      .main_block
        .title_settings 
          p Настройки:
        .profile_main_settings
          .profile_main
            .name_setting Имя:
            input.input_setting(placeholder="Тирион")
          .profile_main
            .name_setting Фамилия:
            input.input_setting(placeholder="Ланистер")
          +part_input_date()
          .profile_main
            .name_setting Ваш пол:
            input.input_setting.input_double(checked=true type="radio" id="man" name="gender" value="Мужчина")
            label(for="man") Мужчина
            input.input_setting.input_double(type="radio" id="woman" name="gender" value="Мужчина")
            label(for="woman") Женщина 
          .profile_main
            .name_setting Логин:
            input.input_setting(placeholder="Tirion_228")
          .profile_main
            .name_setting Телефон:
            input.input_setting(placeholder="+7 123 456789")
          .profile_main
            .name_setting Почта:
            input.input_setting(placeholder="example@gmail.com")
        .title_settings_password
          p Изменение пароля:
          .profile_main
            .name_setting Новый пароль:
            input.input_setting(placeholder="123456")
          .profile_main
            .name_setting Повторите пароль:
            input.input_setting(placeholder="123456")
          .save_settings
            button Сохранить

include _footer.pug