mixin part_profile_statistic_shop(shop)
	.choice_bar
		h1 Голосование
		-var num = 1;
		each item in shop 
			.shop_content
				-var id = "voted_" + num++;
				input(type="radio" name="vote" id=id)
				label(for=id)= item.title

	-var arrayVoted = [], arrayPercentVoted = [], max = 0;
	-for (var i = 0; i < shop.length; i++) {
	-arrayVoted[i] = shop[i].voted;	
	-}
	-for (var i = 0; i < arrayVoted.length; i++) {
	-if (arrayVoted[i] > max) {
	-	max = arrayVoted[i]; 
	-	}		
	-}
	- for (var i = 0; i < arrayVoted.length; i++) {
	- arrayPercentVoted[i] = ((arrayVoted[i] / max) * 100);
	- }


	.part_profile_statistic_shop(style="display: none")
		h1 Голосование
		each item, i in shop
			.shop_content
				.block_title
					p= item.title
					p= item.voted
				.inner(style='width: ' + arrayPercentVoted[i] + '%')

	script.
		u("input[name=vote]").on("change",function(){
			u(".part_profile_statistic_shop").first().style.display = 'block';
			u(".choice_bar").first().style.display = 'none';
		});