
.btn
    font-size: 13px
    text-align: center
    color: #fff
    background: $dash_color
    text-transform: uppercase
    display: inline-block
    padding: 0 24px
    box-sizing: border-box
    border: none
    height: 30px
    line-height: 30px
    border-radius: 15px
    margin: 24px

    &:hover
        background: darken($dash_color, 5%)
        cursor: pointer
    
.main_block
    display: flex

    .side_menu
        flex-basis: 240px
        background: $dash_light
        min-height: calc(100vh - 64px)
        overflow: hidden

    .menu
        margin-top: 24px

        a
            display: block
            position: relative

            &:hover span
                color: #fff

            &:hover i
                color: $dash_menu_font

        i
            margin-left: 24px
            width: 24px
            color: $dash_menu_icon
            line-height: 56px
            position: relative
            top: 6px

        span
            color: $dash_menu_font
            line-height: 56px
            margin-left: 24px
            height: 56px

        .num
            height: 24px
            width: 36px
            border-radius: 5px
            background: $dash_color
            color: #fff
            text-align: center
            line-height: 24px
            position: absolute
            right: 20px
            top: 22px

    .content
        flex-grow: 1
        overflow: hidden

        .content_title
            height: 64px
            line-height: 64px
            background: #f5f5f5
            font-size: 18px
            font-weight: bold
            color: $dash_light
            padding: 0 44px
            box-sizing: border-box

        .wrap
            width: 1000px
            margin: 0 auto
            height: 300px