-
    var user = {
        username: 'Eldan',
        avatar: 'img/user.jpg'
    }

header
    .logo
    .top
        .search
            i.material-icons search
            input(type='search' name='search' placeholder='Я ищу...')
            select(name='search_cat')
                option всё
            input(type='button' value='Найти')

        .store_select
            select(name='store_select')
                option Белый ветер

        .user
            .name
                p= user.username
            .avatar(style="background-image: url('" + user.avatar + "')")
