-
    var user = {
        username: 'Eldan',
        avatar: 'img/user.jpg'
    }

header
    .logo
    .top
        .user
            .name
                p= user.username
            .avatar(style="background-image: url('" + user.avatar + "')")
