
include ../_parts.pug

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        block title
            title Chocokiller

        link(rel='stylesheet' href='css/dash/dash.css')
        link(rel='stylesheet' href='font/material-icons.css')
        block scripts
            script(src='js/umbrella.min.js')
            script window.parts = {};

    body
        include _header
        -
            var storeUrl = '/store';
            var menu = [
                { title: 'Главная', icon: 'home', href: storeUrl },
                { title: 'Заказы', icon: 'turned_in', href: storeUrl + '/orders', count: 12 },
                { title: 'Сотрудники', icon: 'people', href: storeUrl + '/members' },
                //- { title: 'Магазин', icon: 'store', href: '#' },
                { title: 'Товары', icon: 'shoping', href: storeUrl + '/products' },
                { title: 'Настройки', icon: 'settings', href: storeUrl + '/settings' }
            ]

        .main_block
            .side_menu
                .menu
                    each item in menu
                        a(href=item.href)
                            i.material-icons= item.icon
                            span= item.title
                            - if (item.count)
                                .num= item.count
    
            .content
                block content
        
        include _footer.pug
